*{
  margin: 0;
  padding: 0;
}
.Links:hover{
  color: black;
  border-radius: 5px;
  background-color: #FFC107;
}
/* .warning-btn{
  background-color: #FFC107;
}
.warning-btn:hover{
  background-color: #212529;
  color: white
}
.danger-btn{
  background-color: #dc3545;
  color: white;
}
.danger-btn:hover{
  background-color: #212529;
  color: white
} */